name: 'Pre-release build'
on:
  workflow_dispatch:
  push:
    branches:
      - 'dev'

jobs:
  build_dev:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install composer dependencies
        run: composer update --no-dev --prefer-dist

      - name: Build pre-release artifacts
        run: |
          echo "VERSION=dev.${GITHUB_SHA:0:7}" >> $GITHUB_ENV
          make TAG="${{ env.VERSION }}"

      - name: Update pre-release
        uses: andelf/nightly-release@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: pre-release
          name: 'pre-release'
          prerelease: true
          body: 'This is a development build. Do not use in production.'
          files: |
            ./*.zip

      - name: Examples dev-build dispatch
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.REPOSITORY_DISPATCH_TOKEN }}
          repository: Apirone/examples-site
          event-type: pre-release
          client-payload: '{"tag": "pre-release", "version": "${{ env.VERSION }}"}'

      # - name: Send notification
      #   if: ${{ always() }}
      #   uses: sarisia/actions-status-discord@v1
      #   with:
      #     webhook: ${{ secrets.DISCORD_WEBHOOK_URL }}
      #     description: 'OpenCart ${{ env.VERSION }} created.'