name: 'Release published event'
on:
  release:
    types:
      - released

jobs:
  released:
    runs-on: ubuntu-latest
    steps:

      # # - name: Checkout code
      # #   uses: actions/checkout@v4

      - name: Examples prod-build dispatch
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.REPOSITORY_DISPATCH_TOKEN }}
          repository: Apirone/examples-site
          event-type: release
          client-payload: '{"tag": "${{ github.ref_name }}", "version": "${{ github.ref_name }}"}'

      # - name: Send notification
      #   if: ${{ always() }}
      #   uses: sarisia/actions-status-discord@v1
      #   with:
      #     webhook: ${{ secrets.DISCORD_WEBHOOK_URL }}
      #     description: 'OpenCart ${{ github.ref_name }} released now.'